<%- include partials/header.ejs %>

  <div class="contact-show-page-controls">
		<% if (isAdmin) { %>
			<a class="delete-contact" href="/admin/<%= contact.id %>/delete">delete</a>
		<% } %>
  </div>

  <h1><%= contact.first_name %>&nbsp;<%= contact.last_name %></h1>

<%- include partials/footer.ejs %>
